<header>
            <h2>
                <span class="blueRedspher">{{ greeting }}</span>
                <span class="redRedspher">{{ rMaj }}</span><span class="greenRedspher">{{ e }}</span><span class="orangeRedspher">{{ d }}</span><span class="skyblueRedspher">{{ s }}</span><span class="redRedspher">{{ p }}</span><span class="greenRedspher">{{ h }}</span><span class="orangeRedspher">{{ e }}</span><span class="skyblueRedspher">{{ r }}</span>
                
            </h2>
</header>